{{!-- Post plus comments --}}
<article class="post">
  <div class="title">
    <span><a href="/post/{{id}}">{{title}}</a></span><span style="float:right"></span><br>
    <span style="float:right">{{comments.length}} {{format_plural "comment" comments.length}}</span>
  </div>
  <div class="content">
    <p>{{description}}</p>
  </div>
</article>